<% layout('boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= listing.image.url%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= listing.title%></h5>
                <p class="card-text"><%= listing.description%></p>
            </div>
            <div class="card-body">
                <a class="card-link btn btn-primary" href="/listings/<%=listing._id%>/edit">Update</a>
            </div>
        </div>
    </div>
</div>